<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>io.github.mattbaylor.cal-mirror-ui</string>
  <key>CFBundleName</key>
  <string>CalMirrorMenu</string>
  <key>CFBundleExecutable</key>
  <string>CalMirrorMenu</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSCalendarsUsageDescription</key>
  <string>CalMirrorMenu lists your calendars so you can choose which to mirror.</string>
  <key>NSCalendarsFullAccessUsageDescription</key>
  <string>CalMirrorMenu lists your calendars so you can choose which to mirror.</string>
</dict>
</plist>
