<?xml version="1.0" encoding="UTF-8"?>
<!-- Template. install.sh substitutes __LABEL__ __APP__ __DATA__ __INTERVAL__. -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__APP__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>__INTERVAL__</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>LowPriorityIO</key>
  <true/>
  <key>Nice</key>
  <integer>5</integer>
  <key>StandardOutPath</key>
  <string>__DATA__/mirror.log</string>
  <key>StandardErrorPath</key>
  <string>__DATA__/mirror.log</string>
</dict>
</plist>
